---
name: Linters

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

  # pull_request:
  #   branches:
  #     - 'main'

jobs:
  "Black":
    runs-on: ubuntu-latest
    container: python:3.10

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: pip install black

      - name: Run black check
        run: black --check .
